* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
:root {
    --primary: #FFB100;
    --secondary: #00AEEF;
    --alert: #ff0000;
    --white: #fff;
    --black: #000;
}
header {
    background-color: var(--primary);
}
header img {
    height: 60px;
    margin: 0.2rem;
}
main {
    padding: 0.5rem;
}
main div {
    display: flex;
}
main a {
    text-decoration: none;
    background-color: var(--secondary);
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
main table, 
main table tr,
main table tr th,
main table tr td {
    border-collapse: collapse;
    border: 1px solid var(--black);
}
main table {
    width: 100%;
}
main form div {
    display: grid;
    grid-template-columns: 5rem auto;
    padding: 0.3rem 0;
}
main form button {
    background-color: var(--secondary);
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: var(--white);
    font-weight: bold;
}
main div.message {
    display: flex;
    color: var(--alert);
    font-weight: bold;
    justify-content: center;
}
main div.messageok {
    display: flex;
    color: rgb(52, 123, 52);
    font-weight: bold;
    justify-content: center;
}