{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/save" method="post">
        <div>
            <label for="marca">Marca: </label>
            <input type="text" name="marca" id="marca">
        </div>
        <div>
            <label for="modelo">Modelo: </label>
            <input type="text" name="modelo" id="modelo">
        </div>
        <div>
            <label for="ano">Ano: </label>
            <input type="number" name="ano" id="ano">
        </div>
        <button type="submit">Salvar</button>
    </form>

{% endblock %}